<nav style="box-shadow: 0 5px 6px -6px black;">
    <div class="app-name">Student app</div>
    <div class="search-bar">
        <form>
            <div class="input-group">
              <input style="color: ivory;" type="text" class="form-control col-md-6" placeholder="Enter Student ID" name="search" [(ngModel)]=search>
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" (click)=handleSearch()>
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </form>
          
    </div>
    
</nav>